.row {
    height: 80px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    height: 80px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}