* {
    padding: 0px;
    margin: 0px;
    font-family: "Jua", sans-serif;
}

body {
    background-color: rgb(243, 243, 255);
}

header,
main,
footer {
    width: 80%;
    margin-left: 10%;
    padding: 20px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

ul {
    width: 100%;
    height: 150px;

    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 5px solid;
}

/* li {
    display: inline;
}
    
인라인 요소로 바뀌어서 목록 옆으로 제시됨 */

i {
    font-size: x-large;
}

a {
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;

    color: white;
    background-color: rgb(209, 140, 209);
}

/* 블록은 한 줄을 잡음, 인라인 블록은 해당 인라인 콘텐츠만 블록으로 처리함 */

/* 마우스 놓일 경우 */
a:hover {
    background-color: purple;

}

article {
    width: 80%;
    padding: 20px;
}

article p {
    font-weight: 400;
    font-size: 18px;
}

section.s1 {
    width: 500px;
    border: 5px solid;
    padding: 25px;
    margin: 15px;
}

section.s2 {
    width: 500px;
    border: 5px solid;
    padding: 25px;
    margin: 15px;
    box-sizing: border-box;
}

/* 박스 사이징 쓰면 패딩, 마진, 콘텐츠, 보더 영역 다 합쳐서 넓이를 따지게 됨
안 쓰면 콘텐츠 영역만 넓이를 따짐 */

footer {
    background-color: black;
    color: white;
    text-align: center;
}


span {
    font-weight: bold;
    display: inline-block;
}

@media screen (max-width : 767px) {

    header, main, footer {
        width: 100%;
        padding: 20px;
        /* text-align: center; */
        display: flex;
        flex-direction: column;
    }
}

/*  
h2 {
    color: rgb(69, 69, 255);
    background-color: rgb(199, 203, 255);
}

p {
    color: black;
}

.s1 {
    background-color: white;
}

.s2 {
    background-color: antiquewhite;
}

#a1 {
    background-color:cornsilk;
}

id가 class보다 우선순위 높음
class는 앞에 점, id는 앞에 샵 붙여서 표현하기

article > p {
    color: rgb(168, 168, 168);
}

footer {
    background-color: black;
}

footer li {
    color: white;
}

바로 아래 태그면 > 부등호 쓰고 아니면 안 씀 */